h1{
    color: blue;
    text-align: center;
}

p{
    color: brown;
    background-color: lawngreen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
}